@media screen and (max-width: 468px) {
    body {
        overflow-x: hidden !important;
    }
    #container {
        width: 10%;
        height: 400px;
        margin: 30px 30px 20px 60px;
        border: solid 2px black;
    }
    #sliders img {
        width: 600px;
        height: 400px;
    }
    #specials {
        clear: both;
        background-size: cover;
    }
}