
#container {
    background-image: url("../images/pexels-artem-beliaikin-994517.jpg");
    background-repeat: no-repeat;
	background-size: cover;
    flex-wrap: wrap;
	width: 100%;
	height: 750px;
	float: left;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	overflow: hidden;
	margin: auto;
	z-index: 0;
}
.bg-specials li{
    list-style-type: none;
    font-size: 40px;
    padding: 60px;
}
.bg-specials li a {
    text-decoration: none;
    font-weight: 600;
	color: black;
}
.bg-specials {
    width: 400px;
    height: 100px;
    margin: 10px;
    border-radius: 16px;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    backface-visibility: hidden;
    background: rgba(255, 255, 255, 0.62);
}
#specials > .bg-specials:hover {
    transform: scale(1.1,1.1);
    cursor: pointer;
	background: white;
}














